/* font
font-family: 'Open Sans', sans-serif;
font-family: 'PT Serif', serif;
font-family: 'PT Sans', sans-serif;

*/

* {
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
}

.toggles, .filter {
  margin-left: 24px;
  margin-right: 24px;
}

.title-text {
  text-align: center;
  color: white;
  font-size: 2.5em;
  padding-top: 16px;
  padding-bottom: 16px;
  background: #0D47A1;
  margin: 0;
}

.toggles {
  margin-top: 12px;
  margin-bottom: 12px;
}

.ada-toggle-container, .pesticide-toggle-container {
  margin-top: 2px;
  margin-bottom: 2px;
}

.filter {
  font-size: 1.5em;
}

#map {
  flex-grow: 5;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .info {
    order: 1
  }
}